.table {
  background-color: var(--bg-table);
  font-size: 14px;
  width: 100%;

  thead {
    text-align: left;
    white-space: nowrap;

    .th {
      background-color: var(--bg-table-cell);
      padding: 15px;
      font-weight: 500;
      color: var(--text-color);
    }
  }

  tbody {
    .td {
      font-size: 12px;
      padding: 15px;
      background-color: var(--bg-table-cell);
      color: var(--text-color);

      &.active {
        background-color: var(--active-table-cell);
        color: var(--active-text-color);
      }
    }
  }
}